<?xml version="1.0" encoding="UTF-8"?>
<Configuration packages="com.smartj">
	<Properties>
		<Property name="path">logs</Property>
	</Properties>
	<Appenders>
		<Console name="ConsoleAppender" target="SYSTEM_OUT">
			<PatternLayout>
				<pattern>
				<!-- [%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %c{1} - %msg%n  -->
					[%-5level] %c{1} - %msg%n
				</pattern>

			</PatternLayout>
		</Console>
		<File name="AppAppender" fileName="${path}/smartj.log">
			<PatternLayout>
				<pattern>
					[%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %c{1} - %msg%n
				</pattern>
			</PatternLayout>
		</File>
	</Appenders>
	<Loggers>
		<Logger name="org.springframework" level="warn" />
		<Logger name="com.smartj" level="debug" additivity="false">
			<AppenderRef ref="ConsoleAppender" />
		</Logger>

		<Root level="debug">
			<AppenderRef ref="ConsoleAppender" />
		</Root>
	</Loggers>
</Configuration>